body {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 100px; 
  overflow: hidden;
  background: #F5E258;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* MENU STYLES */
nav {
position: fixed;
z-index: 10;
left: 0;
right: 0;
top: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 0 5%;
height: 60px;
background:#f8e9e9;
border-bottom: 2px solid #f5b1ae;
}
