body {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 100px; 
  overflow: hidden;
  background: linear-gradient(to right, #53afec, #006edc);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* MENU STYLES */
nav {
position: fixed;
z-index: 10;
left: 0;
right: 0;
top: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 0 5%;
height: 60px;
background:#eae9f8;
border-bottom: 2px solid #f5b1ae;
}
nav .logo {
  float: left;
  width: 220px;
  height: 80px;
  display: flex;
  align-items: left;
  font-size: 24px;
    margin-top: 10px;
  }
  nav .links {
  float: center;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  nav .links li {
  list-style: none;
  }
  nav .links a {
  display: block;
  padding: 1em;
  font-size: 20px;
  color: #850785;
  text-decoration: double;
  }
  a:hover {
  background-color: #f8c7c7;
  }
  #nav-toggle {
  position: absolute;
  top: -100px;
  }
  nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  }
  nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #850785;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  }
  /* MENU RESPOSIVIDADE */
  @media screen and (max-width: 768px) {
    nav .logo {
      float: none;
      width: 200px;
      justify-content: left;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #fff;
      overflow: hidden;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
    }
    nav .links a {
      font-size: 20px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
    
    }
    
    /*Página inicial do quiz*/
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      width: 98%;
      min-height: 100vh;
      padding: 10px; 
      margin-bottom: 200px;
      margin-top: -10%;
    }
    
    h1{
      font: normal 40px Arial;
    }
    h2{
      font: normal 30px Arial;
    }
    
    p{
      font: normal 25px Comic Sans MS, Comic Sans, cursive;
      margin-left: 7%;
      margin-right: 7%;
      line-height: 1.5;
    }
    
    #p-descritivo{
      font:normal 20px Arial;
      margin-top: 20%;
    }
    
    a:active{
      color: #2326dd;
    }
    
    a{
      text-decoration: none;
    }
    
    a:hover{
      background-color:  #2326dd;
      font-size: 20px;
    }
    
    button{
      background: #2326dd;
      border:1px solid black;
      border-radius: 8px; 
      padding: 5px;
      font-size: 15px;
      
    }
    
    button:hover{
      font-size: 20px;
    }
    
    #cabecalho img{
      margin-bottom:  10px;
      width: 100px;
      height: 100px;
    }
    
    #cabecalho h2{
      margin-bottom:  100px;
    }
    
    /*QUIZ*/
    #quiz {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
      
    }
    
    .r1, .r2, .r3, .r4{
      background: #2326dd;
      border: 1px solid #020280;
      margin: 15px 90px;
      text-align: center;
      font-size: 30px;
      padding: 5px;
      font: normal 30px Comic Sans MS, Comic Sans, cursive;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .perguntas h2{
      margin-left: 5%;
      margin-right: 5%;
    }
    
    #pergunta2 img{
      width: 300px;
      height: 200px;
    }
    
    input[type=radio] {
      border: 0px;
      width: 25px;
      height: 30px;
      vertical-align: middle;
    } 
    
    /*Resultado*/
    
    #resultado h2{
      font: normal 40px Arial;
      font-weight: bold;
    }
    
    .mensagens p, #pontuacao{
      font: normal 30px Arial;
      margin-left: 5%;
      margin-right: 5%;
      line-height: 1.5;
    }
    
    #pontuacao{
      font-weight: bold;
    }